{% extends 'mainbackend/make_test.html' %}
{% block test %}
<h2 test-align="center">Please, complete this survey</h2>
{% load static %}
<h3>Reference track:</h3>
<audio src={% static  "" %}{{ destinationA }} id="reference" controls> 
    HTML element is not supported in your browser.
</audio>
<audio src={% static  "" %}{{ destinationA }} id="audioA"> 
    HTML element is not supported in your browser.
</audio>
<audio src={% static  "" %}{{ destinationB }} id="audioB"> 
    HTML element is not supported in your browser.
</audio>
<br>
<h3>Test tracks:</h3>
<button type="button" class="btn btn-primary" id="play" name="play">Play</button>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Next" id="next" class="btn btn-secondary" >
</form>
<script type="text/javascript">
    function nextBtnHandle(event) {
        document.getElementById('next').removeEventListener('click', buttonClicked);
        document.getElementById('next').classList.add('btn-primary');
        document.getElementById('next').classList.remove('btn-secondary');
        document.getElementById('next').disabled = false;
    }

    function buttonClicked(event) {
        var timeAInMS = document.getElementById(audioA).duration * 1000;
        document.getElementById('play').removeEventListener('click', buttonClicked);
        document.getElementById('play').classList.remove('btn-primary');
        document.getElementById('play').classList.add('btn-secondary');
        document.getElementById('play').disabled = true;
        document.getElementById(audioA).play();
        console.log(audioB)
        setTimeout(function() {
            var timeBInMS = document.getElementById(audioB).duration * 1000;
            document.getElementById(audioB).play();
            setTimeout(function() {
                nextBtnHandle();
            }, timeBInMS + 500);
        }, timeAInMS + 500);
    }
    {% if order == -1 %}
        audioA = 'audioA';
        audioB = 'audioB';
    {% elif order == 1 %}
        audioA = 'audioB';
        audioB = 'audioA';
    {% endif %}
    
    document.getElementById('play').addEventListener('click', buttonClicked);   
</script>
{% endblock %}