{% extends 'mainbackend/make_test.html' %}
{% block test %}
<h2 test-align="center">Please, complete this survey</h2>
{% load static %}
<button type="button" class="btn btn-primary" id="play" name="play" onclick="document.getElementById('audio').play();">Play</button>
<audio controls visibility="hidden" id="audio">
<source src={% static  "" %}{{ destination }} type="audio/wav" visibility="hidden">
<p visibility="hidden">If audio does not start, the  HTML element is not supported in your browser.</p>
</audio>
</br>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Next">
</form>
<script type="text/javascript">

</script>
{% endblock %}