{% extends 'mainbackend/make_test.html' %}
{% block test %}
<h2 test-align="center">Please, complete this survey</h2>
<audio controls>
{% load static %}
{% static  "/" %}{{ direction }}
<source src={% static  "" %}{{ destination }} type="audio/wav">
<p>If audio does not start, the 
<audio> HTML element is not supported in your browser.</p>
</audio>
</br>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Next">
</form>
{% endblock %}