{% extends 'mainbackend/base.html' %}
{% block title %}Index{% endblock %}
{% block start %}Add audio files to database{% endblock %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Next">
</form>
<script>
    document.getElementById("id_fileset_type").addEventListener("change", setAmountBounds, false);
    
    function setAmountBounds(event) {
        var amount = document.getElementById("id_amount");
        console.log(document.getElementById("id_fileset_type").value)
        if (document.getElementById("id_fileset_type").value == "MUSHRA") {
            amount.value = 6;
            amount.setAttribute("max", 10);
            amount.setAttribute("min", 3);
        }
        else {
            amount.setAttribute("max", 15);
            amount.setAttribute("min", 1);
        }
    }
</script>
{% endblock %}