{% extends 'mainbackend/make_test.html' %}
{% block test %}
<h2 test-align="center">Please, complete this survey</h2>
{% load static %}
<audio controls src={% static  "" %}{{ destinationA }}> 
    HTML element is not supported in your browser.
</audio>
<audio controls src={% static  "" %}{{ destinationB }}> 
    HTML element is not supported in your browser.
</audio>
</br>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Next">
</form>
{% endblock %}