{% extends 'mainbackend/make_test.html' %}
{% block test %}
<h2 test-align="center">Which sound is higher?</h2>
<audio controls>
{% load static %}
<source src={% static "mainbackend/frequency_difference/" %}{{ filename }} type="audio/wav">
<p>If audio does not start, the 
<audio> HTML element is not supported in your browser.</p>
</audio>
</br>
<form action="" id='1' name='asd' method="post">
    {% csrf_token %}
    <input type="submit" name='first' value="First one">
    <input type="submit" name='second' value="Second one">
</form>
{% endblock %}