{% extends 'mainbackend/make_test.html' %}
{% load zip %}
{% block test %}
<h2 test-align="center">Please, complete this survey</h2>
{% load static %}
</br>   
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    
    <table>
        <button type="button" id="btn{{ forloop.counter }}" name="audio{{ forloop.counter }}" class="btn btn-primary" margin-right="20px">Play</button>
        <b>{{ field.label }}</b>
        {{ field }}
    </table>
    {% endfor %}
    <input type="submit" value="Next" id="next" class="btn btn-primary">
</form>
{% for dest in destination %}
<audio src={% static  "" %}{{ dest.file_destination }} id="audio{{ forloop.counter }}" control> 
    HTML element is not supported in your browser.
</audio>
{% endfor %}
<script type="text/javascript">
    for (var i = 1; i < {{ amount }} + 1; i++) {
        document.getElementById('btn' + i).addEventListener('click', play);
        document.getElementById('btn' + i).style.margin = "0px 10px 10px 00px";
    }
    
    function play(event) {
        document.getElementById(event.target.name).play()
    }
</script>
{% endblock %}